@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');

/* Global Styles */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background: #ffffff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, header p {
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

header p {
    margin-top: 25px;
}

/* Header Buttons Styles */
.header-buttons {
    display: flex;
    gap: 1em;
    margin-left: auto;
}

.header-buttons button {
    background-color: #ED3124;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.header-buttons button:hover {
    background-color: #b00000;
}

/* Navigation Styles */
nav {
    background: #ffffff;
    padding: 1em 0;
    text-align: center;
    border-top: 0.9px solid #0000005c;
    border-bottom: 1.6px solid #00000093;
}

nav a {
    color: rgb(0, 0, 0);
    margin: 0 1em;
    text-decoration: none;
}

/* Container Styles */
.container {
    width: 300px;
    margin: 65px auto 100px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Form Styles */
h2 {
    color: #000;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ED3124;
    color: #fff;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #b00000;
}

input[type="submit"].disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#check_duplicate {
    background-color: #292929;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50%;
    margin-left: 2%;
}

#check_duplicate:hover {
    background-color: #2929296e;
}

/* Additional Styles */
.input-group {
    display: flex;
    align-items: center;
}

p {
    margin-top: 20px;
}

a {
    color: #503296;
    text-decoration: none;
}

footer {
    background: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
    width: 100%;
    font-size: 80%;
}
